.page {
    height: 100vh;
    width: 100vw;
    background-color: #5719b5;
    overflow: hidden;
    text-align: center;
}

.score-board {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 18px;
    text-align: left;
    background-color: #fff;
}

.bolder {
    font-weight: bolder;
}

.pop-text {
    position: absolute;
    text-align: center;
    font-size: 55px;
    text-shadow: 3px 10px 5px rgb(0 0 0 / 50%);
    top: 25%;
    right: 0;
    left: 0;
    animation: 2s anim-popoutin ease 1;
}
